@tailwind base;
@tailwind components;
@tailwind utilities;  

html{
    scroll-behavior: smooth;
}
@import "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css";

#container {
  margin: 1rem;
}

.items {
  margin-bottom: 1rem;
}
.filtered{
filter: invert(100%) sepia(1%) saturate(7500%) hue-rotate(252deg) brightness(109%) contrast(100%);
filter: brightness(300%);
}